<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
<h3>Engaged 12/24 - 50% engagement</h3>
<!-- I would prefer the values to be one word, unless this exact value is required -->
<input id="start" type="button" value="StartHeaded" onclick="startRekognition(run = true);" />
<input id="stop" type="button" value="StopHeaded" onclick="startRekognition(run = false);" />

</body>

<footer>
    <script src= "../app.js"></script>
</footer>
</html>
